.login-content{
  height: 100%;
  width: 100%;
  background: url('../../../public/bgc_img.webp') no-repeat ;
  background-size:cover;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-right: 200px;
  flex-direction: column;
}
.login-title{
  color: gold;
}
.login-form{
  height: 350px;
}
#normal-login {
    min-width: 300px;
  }
  #normal-login .login-form-forgot {
    float: right;
  }
  #normal-login .ant-col-rtl .login-form-forgot {
    float: left;
  }
  #normal-login .login-form-button {
    width: 100%;
  }
